/* body */
*{
    box-sizing: border-box;
}

body{
    text-align: center;
    background: #CAE9FF;
}

/* headings */
h1{
    float: left;
    font-size: 45px;
    color: #fff;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    float: left;
    padding-top: 35px;
    padding-left: 10px;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}


/* paragraphs */
p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* nav / nav links */
nav, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1B4965;
}

li {
    float: right;
    font-size: 18px;
}

a:link {
    display: block;
    color: #BEE9E8;
    text-align: center;
    padding: 14px 16px;
}

li a:visited{
    color: #5FA8D3;
}

li a:hover {
    background-color: #BEE9E8;
    color: #1B4965;
}

li a:active{
    color: #CAE9FF;
}

/* sections */
#intro, #about, #contact{
    margin: 20px;
    padding: 40px;
    text-align: center;
}

/* horizontal rule */
hr{
    border: 10px solid #5FA8D3;
    border-radius: 5px;
}

/* images */
img{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
    display: block;
}

/* contact links */
#contact li a:link{
    color: #1B4965;
}

#contact li a:visited{
    color: #1B4965;
    }

#contact li a:hover{
color:#5FA8D3;
}

#contact li a:active{
    color: #1B4965;
}


/* socail links/ email */
.connect{
    display: inline-flex;
}

.connect img{
    width: 65px;
    height: 65px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
} 

.connect li{
    float: left;
}

/* footer */
footer li {
float: none;
}

/* media responsiveness */

@media screen and (max-width:800px) {
    nav ul{
        display: inline-block;
    }
}

@media screen and (max-width: 500px) {
    .connect{
        display: inline-block;
    }

    .connect li{
     float: none;
    }

    img{
        width: 200px;
        height: 200px;
    }
}